.review {
  background-color: rgb(80, 32, 80);
  border-radius: 9px;
  color: #FFF;
  padding: 40px 35px 40px 30px;
  width: 95%;
}

.review img {
  border-radius: 50%;
  display: block;
  float: left;
  height: 40px;
  margin-right: 25px;
  width: 40px;
}

.review h3 {
  font-size: 0.88em;
  font-weight: 500;
  padding: 5px;
}
.review h4 {
  color: rgb(238, 104, 164);
  font-size: 0.88em;
  padding: 3px;
}

.review p {
  clear: both;
  font-size: 0.85em;
  letter-spacing: 0px;
  line-height: 1.75em;
  padding: 25px 0 0;
}

/* MEDIA QUERIES */
@media (max-width: 1100px) {
  .review {
    margin: 0 auto;
    max-width: 700px;
    top: 0;
    width: 100%;
  }
}