/* COLOR REFERENCE */
.color {
  color: rgb(80, 32, 80);
  color: rgb(238, 104, 164);
  
  color: rgb(147, 123, 146);
  color: rgb(247, 242, 247);
  color: rgb(255, 255, 255);
}

/* MAIN */
body {
  background-image: url('../challenge-heading/images/bg-pattern-top-desktop.svg'), url('../challenge-heading/images/bg-pattern-bottom-desktop.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat;

  height: 800px;
}